* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
}

input:focus {
 /* TODO */
 outline: 0.5px solid orangered;
 outline-offset: -1px;
 
}

body {
  /* TODO */
  display: flex;
  background-image: linear-gradient(to right, rgb(245, 214, 61), rgb(232, 91, 15));
}

input {
 /* TODO */
 background-color: rgb(235, 204, 128);
 min-width: 300px;
 max-width: 20vw;
 height: 40px;
 font-size: 1rem;
 
}

.search-container {
 /* TODO */
 width: 80%;
 height: 80%;
 padding: 15%;
 
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}